
<br/><br/>
<div class="container" style="width:70%;border:solid 1px #ccc;">
  <div class="title">
<h1>Product</h1>
  </div>
  <div class="panel-body">
    <form #productData="ngForm" (ngSubmit)="addProduct(productData.value)">
      <div class="row">
          <div class="input-field col s12">
              <input type="text"  class="form-control" name="productname" ngModel placeholder="Product Name" required>
              
          </div>
      </div>
<br/>
      <div class="row">
          <div class="input-field col s12">
              <input type="text"  class="form-control" name="productprice" ngModel placeholder="Price" required>
             
          </div>
      </div>

      <span style="color:red">{{errorMsg}}</span>
      <br/>
      <button 
          class="btn waves-effect waves-light" 
          type="submit" >Add</button>
       
        </form>
      
        </div>
        
     

</div>